@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}